body {
	background-color: #19232b;
}

header {
	height: 50px;
	position: absolute;
	top: 0;
	color: white;
}

main {
	color: white;
	text-align: center;
}

.intro-text {
	margin-left: 20px;
	text-align: left;
}

.darker {
	background-color: #151e25;
}

.darkest {
	background-color: #09141d;
}

.welcome-container {
	margin-top: 200px;
}

.portfolio-container {
	margin-top: 100px;
}

h1 {
	font-size: 3.6rem;
}

.starter-inputs {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@media only screen and (max-width: 640px) {
	.portfolio-container,
	main .button-primary {
		width: 100%;
	}

	.nav-text {
		display: none;
	}
}

.portfolio-container .row {
	padding-left: 20px;
	padding-right: 20px;
}

.nav-list {
	list-style: none;
}

header,
.portfolio-header,
.portfolio-overview,
.js-add-coin-form .portfolio-footer,
.portfolio-footer-menu {
	padding-top: 15px;
}

.start-btn {
	margin-top: 15px;
}

.search-help {
	line-height: 1.5rem;
	margin-top: -9px;
	margin-bottom: 5px;
	color: red;
}

.leftmost-cell {
	margin-left: 20px;
}

.rightmost-cell {
	margin-right: 5px;
}

.portfolio-footer {
	margin-top: -20px;
	padding-bottom: 5px;
}

nav a,
.portfolio-link {
	color: white;
	cursor: pointer;
	text-decoration: none;
}

.li-space {
	margin-right: 20px;
}

.text-left {
	text-align: left;
}

main .button {
	color: white;
}

main .button:hover {
	color: #33c3f0;
}

.large-text {
	font-size: 2.4rem;
}

.gain {
	color: green;
}

.loss {
	color: red;
}

.delete {
	color: #999;
	cursor: pointer;
	font-size: 2rem;
}

.delete:hover,
.delete:focus {
	color: white;
}

table {
	border-collapse: collapse;
}

th,
td {
	text-align: right;
}

th:first-child,
th:last-child,
td:first-child,
td:last-child {
	text-align: left;
}

.sortable-header {
	color: white;
	cursor: pointer;
}

@media only screen and (max-width: 640px) {
	thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	tr {
		border-bottom: 3px solid #ddd;
		display: block;
	}

	td {
		border-bottom: 1px solid #ddd;
		display: block;
		text-align: right;
		clear: both;
	}

	td:first-child {
		text-align: right;
	}

	td:last-child {
		text-align: right;
		padding-right: 10px;
	}

	td::before {
		content: attr(data-label);
		float: left;
	}
}

/* Autocomplete widget */
.ui-menu {
	max-height: 30vh;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: left;
	font-size: 1.5rem;
}

.ui-widget-content .ui-state-active {
	border: 1px solid #222222;
	background-color: #33c3f0;
}

/* Modal */
.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
	background-color: #151e25;
	color: white;
}

.modal-header h3 {
	padding: 10px 15px;
	font-size: 2rem;
}

.close {
	position: relative;
	top: -65px;
	right: 10px;
	color: white;
	font-size: 1.75rem;
	cursor: pointer;
}

.modal-body {
	padding: 0 15px;
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: 5% auto;
	padding: 0;
	border: 1px solid #888;
	width: 40%;
}

.edit-holdings-modal label {
	height: 38px;
	padding-top: 6px;
}

.edit-holdings-modal .delete-holding {
	background-color: red;
	color: white;
}

@media only screen and (max-width: 640px) {
	.modal-content {
		width: 100%;
	}

	.modal label {
		height: 16px;
		padding-bottom: 5px;
	}
}

/*Dropdown*/
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	left: -10px;
	top: 30px;
	background-color: #666;
	min-width: 160px;
	text-align: left;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	cursor: pointer;
}

.dropdown-content a {
	color: white;
	padding: 10px 15px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #333;
	color: #0fa0ce;
}

.disabled:hover,
.dropdown-content .disabled:hover {
	background-color: #222;
	color: #777;
	cursor: not-allowed;
}

.show {
	display: block;
}
