body {
	background-color: #19232b;
	color: white;
	text-align: center;
}

.darker {
	background-color: #151e25;
}

.darkest {
	background-color: #09141d;
}

.container {
	margin-top: 200px;
}

h1 {
	font-size: 3.6rem;
}

.starter-inputs {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@media only screen and (max-width: 640px) {
	.button-primary {
		width: 100%;
	}
}

.js-portfolio-container .row {
	padding-left: 20px;
	padding-right: 20px;
}

.portfolio-menu {
	list-style: none;
}

.portfolio-header,
.portfolio-overview,
.js-add-coin-form .portfolio-footer,
.portfolio-footer-menu {
	padding-top: 15px;
}

.leftmost-cell {
	margin-left: 20px;
}

.rightmost-cell {
	margin-right: 5px;
}

.portfolio-footer {
	margin-top: -20px;
	padding-bottom: 5px;
}

.portfolio-link {
	color: white;
	cursor: pointer;
}

.li-space {
	margin-right: 20px;
}

.text-left {
	text-align: left;
}

.button {
	color: white;
}

.button:hover {
	color: #33c3f0;
}

.large-text {
	font-size: 2.4rem;
}

.gain {
	color: green;
}

.loss {
	color: red;
}

/* Styling for autocomplete widget */
.ui-menu {
	max-height: 30vh;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: left;
}

.ui-widget-content .ui-state-active {
	border: 1px solid #222222;
	background-color: #33c3f0;
}
