body {
	background-color: #151e25;
	color: white;
	text-align: center;
}

.container {
	margin-top: 200px;
}

h1 {
	font-size: 3.6rem;
}

.add-coin-form {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 640px) {
	.button-primary {
		width: 100%;
	}
}

.portfolio-menu {
	list-style: none;
}

.portfolio-link {
	color: white;
	cursor: pointer;
}

.li-space {
	margin-right: 20px;
}

.text-left {
	text-align: left;
}

.button {
	color: white;
}

.button:hover {
	color: #33c3f0;
}

/*
main {
	max-width: 1200px;
	padding-left: 24px;
	padding-right: 24px;
	margin: 200px auto 0 auto;
}

.primary {
	background-color: #5dceb3;
	color: white;
}

.add-coin-form {
	max-width: 520px;
	margin-left: auto;
	margin-right: auto;
}

.flex-grid {
	display: block;
}

.flex-grid .col {
	width: 100%;
	margin: 0 0 5px 0;
}

.btn {
	width: 166px;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@media only screen and (min-width: 640px) {
	.flex-grid {
		display: flex;
	}

	.col {
		flex: 1;
	}

	.btn {
		width: 80%;
		height: 100%;
	}
}*/

/* Styling for autocomplete widget */
.ui-menu {
	max-height: 40vh;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: left;
}

.ui-widget-content .ui-state-active {
	border: 1px solid #222222;
	background-color: #33c3f0;
}
