body {
	background-color: #151e25;
	color: white;
	text-align: center;
}

main {
	max-width: 1200px;
	padding-left: 24px;
	padding-right: 24px;
	margin: 200px auto 0 auto;
}

.primary {
	background-color: green;
	color: white;
}
