body {
	background-color: #151e25;
	color: white;
	text-align: center;
}

main {
	max-width: 1200px;
	padding-left: 24px;
	padding-right: 24px;
	margin: 200px auto 0 auto;
}

.primary {
	background-color: #5dceb3;
	color: white;
}

/* Styling for autocomplete widget */
.ui-menu {
	max-height: 40vh;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 14px;
	text-align: left;
}

.ui-widget-content .ui-state-active {
	border: 1px solid #222222;
	background: #5dceb3;
}
